[submodule "tests/data"]
	path = tests/data
	url = https://github.com/maxmind/MaxMind-DB
[submodule "extension/libmaxminddb"]
	path = extension/libmaxminddb
	url = git@github.com:maxmind/libmaxminddb.git
