*.egg
*.iml
*.pyc
*.so
*.sw?
*~
.coverage
.eggs
.idea
.pyre
.tox
build
compile_flags.txt
core
dist
docs/_build
docs/doctrees
docs/html
env/
MANIFEST
maxminddb.egg-info/
pylint.txt
valgrind-python.supp
violations.pyflakes.txt
