include HISTORY.rst README.rst LICENSE maxminddb/py.typed maxminddb/extension.pyi
recursive-include extension/libmaxminddb/include *.h
recursive-include extension/libmaxminddb/src *.c *.h
recursive-include tests/ *.mmdb *.py *.raw
graft docs/html
