name: Clang Static Analysis

on:
  push:
  pull_request:
  schedule:
    - cron: '3 15 * * SUN'

jobs:
  clang-analyzer:
    name: Clang Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install clang-tools
        run: sudo apt install clang-tools

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
              python -m pip install --upgrade pip
              pip install setuptools wheel

      - name: Build and run analyzer
        # We exclude extension/libmaxminddb/ as libmaxminddb has its own workflow
        # for this and we are not able to correct any issues with that code here.
        run: scan-build --exclude extension/libmaxminddb/ --status-bugs python setup.py build
        env:
          CFLAGS: "-Werror -Wall -Wextra"
          MAXMINDDB_REQUIRE_EXTENSION: 1
