name: Clang Static Analysis

on:
  push:
  pull_request:
  schedule:
    - cron: '3 15 * * SUN'

permissions: {}

jobs:
  clang-analyzer:
    name: Clang Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: true
          persist-credentials: false

      - name: Install clang-tools
        run: sudo apt install clang-tools

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # 7.2.0

      - name: Build and run analyzer
        # We exclude extension/libmaxminddb/ as libmaxminddb has its own workflow
        # for this and we are not able to correct any issues with that code here.
        run: scan-build --exclude extension/libmaxminddb/ --status-bugs uv build
        env:
          CFLAGS: "-Werror -Wall -Wextra"
          MAXMINDDB_REQUIRE_EXTENSION: 1
